body {
  background-color: #f5f6f7;
}

li {
  list-style: none;
}

.container {
  background-image: url("images/draw1.webp");
  background-position: center;
  border-radius: 70px;
  padding: 30px 30px 30px 30px;
  margin: 120px auto;
  max-height: 500px;
  width: 200px;
  background-repeat: no-repeat;
}

.details {
  padding-top: 40px;
}

.units {
  position: relative;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.w-app{
  padding: 80px 80px 80px 80px;
  width: 900px;
}
