body{
        background-color: #f5f6f7;
        
      }

      li{
        list-style: none;
      }

      .container {
        background-image: url('/images/draw1.webp');
        background-position: center;
        border-radius: 40px;
        padding: 60px 40px 50px 40px;
        margin: 120px auto;
        max-height: 500px ;
        width: 500px;
       
      }

      .details{
        padding-top: 40px;
      }

      .units{
        position: relative;
      }

      .temperature{
        color: rgb(33, 33, 33);
        font-size: 64px;
        font-weight: 400;
        line-height: 1;
      }
